
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#next{
  display: none;
}

#brainParts{
  width: 10vw;
  display: none;
  position: fixed;
  right: 5vw;
  top: 5vh;
}
#results{
  display: none;
}